<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="caa560">  <td>21/12/20 23:38:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScreenShot.setup()[pri:0, instance:com.screenshot.ScreenShot@bae7dc0]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@405215542</td>   <td></td> </tr>
<tr bgcolor="caa560">  <td>21/12/20 23:38:23</td>   <td>9217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScreenShot.testcase1()[pri:0, instance:com.screenshot.ScreenShot@bae7dc0]">testcase1</td> 
  <td>main@405215542</td>   <td></td> </tr>
<tr bgcolor="caa560">  <td>21/12/20 23:38:23</td>   <td>9408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ScreenShot.tearDown(org.testng.ITestResult)[pri:0, instance:com.screenshot.ScreenShot@bae7dc0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@405215542</td>   <td></td> </tr>
</table>
